<tr class={{clientID}}>
    <td>{{#if username}}
            {{username}}
        {{else}}
            <b>LOCAL CLIENT</b>
        {{/if}}
    </td>                
    <td id={{clientID}} class="secret" placeholder="pass" contenteditable="true"></td> 
    <td>
        {{#if username}}
            <button type="button" class="key_agreement_button">Send request</button>
        {{/if}}
    </td>
</tr>							